body{
  background-color: #3E4551; /* using hsl() requires setting fallback color */
  background-color: hsl(218, 28%, 13%);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
}

.navbar{
  margin: 35px 30px;
  display:flex;
  align-items: center; /* the default value is stretch */
  justify-content:space-between;
}

.logo{
  width: 130px;
}

.menu-list {
  display:flex;
  list-style: none; /* style on ul rather than li to remove the bullet point style */
  padding-left: 0; /* the default format of padding-left for ul is 40px */
}
.nav-link{
  color: #fff;
  text-decoration: none; /* remove the underline */
  padding-left:35px;
  padding-right:10px;
  font-size: 0.8rem;
}
.nav-link:hover{
  color: #81D9D4;
}

.middle-box{
  display:flex;
  flex-direction:column;
  width:65%;
  margin:100px auto;
}

.intro-img{
  width:90%;
  margin:auto;
  padding-bottom:10px;
}

.intro-p{
  width:70%;
  margin:10px auto 20px;
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.btn{
  margin:0 35%;
  height:1.8rem;
  background-color: hsl(198, 60%, 50%);
  border:0;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 10px;
}

.btn:hover{
  background-color: hsl(176, 68%, 64%);
}

.grid-container{
  display:grid;
  grid-template-columns:320px [10%] 320px;
  grid-template-rows:repeat(80px [40px] auto [10px] auto [100px]);
  justify-content: center;
}

.grid-item{
  font-size: 75%;
  line-height: 1.1rem;
  place-self:center;
}
